.custom-card-body {
    height: 200px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
}


body {
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 
  }